@model ShopViewModel
@inject UserManager<AppUser> userManager

@{
    ViewData["Title"] = "Detail";
    AppUser member = User.Identity.IsAuthenticated ? userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin) : null;

}
<main>
    <section id="detail-home">
        <div class="container-fluid">
            <div class="row">
                <div class="detail-right">
                    <div class="container">
                        <div class="row">
                            <div class="content-detail-colors">
                                @for (int i = 0; i < Model.Product.ProductColors.Count; i++)
                                {
                                    <div class="content-detail-color @(i==0?"active":"")" id="@Model.Product.ProductColors[i].Id">
                                        <div class="row">
                                            @foreach (var item in Model.Product.ProductColors[i].ProductColorImages)
                                            {
                                                <div class="col-md-6 col-sm-12">
                                                    <img src="~/uploads/product/@item.Image" alt="">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-left">
                    <div class="detail-wish">
                        <h1>
                            @Model.Product.Name - $<span>@Model.Product.SalePrice</span>
                        </h1>
                        <div class="star">
                            <div data-h="review-summary" data-testid="review-summary" class="sc-yMzwv lezPrD">
                                <div data-h="stars" data-testid="stars" class="sc-fSnZzA fjfPfa">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <p class="product rated" data-h="stars-score" data-testid="stars-score">
                                <span class="sr-only" uptsign="ppr-0190">
                                    product rated
                                </span>4.7<span class="sr-only" uptsign="apr-0190"> stars</span>
                            </p>
                            <span>See 3098 reviews</span>
                        </div>
                        <div class="detail-color">
                            @*<p>@Model.ProductColor.Color.Desc</p>*@
                            <div class="color-items">
                                @for (int i = 0; i < Model.Product.ProductColors.Count; i++)
                                {
                                    <div class="color-item">
                                        <a class="tab-color-detail @(i==0?"active":"")" data-target="@Model.Product.ProductColors[i].Id">
                                            <img src="~/assets/images/color/@Model.Product.ProductColors[i].Color.Image" alt="">
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="stock">
                            <svg width="12" height="11" viewBox="0 0 12 11" fill="none" class="sc-eMrnwU bsDRXu">
                                <path d="M1 6.35714L4.57143 9.92857L11 1" stroke="black" stroke-linecap="round">
                                </path>
                            </svg>
                            <p>
                                @if (Model.Product.IsStock == true)
                                {
                                    <span>In Stock</span>
                                }
                                else
                                {
                                    <span>
                                        Out of Stock
                                    </span>
                                }
                            </p>
                        </div>
                        @for (int i = 0; i < Model.Product.ProductColors.Count; i++)
                        {
                            <a asp-action="addtobasket" asp-controller="product" asp-route-id="@Model.Product.ProductColors[i].Id" data-id="@Model.Product.ProductColors[i].Id" class="btton button-secondary stock-btn add-basket">
                                Add To Bag
                            </a>
                        }
                        <div class="shipping">
                            <div class="shipping-info">
                                <i class="fas fa-shipping-fast"></i>
                                <p>Free Expedited Shipping @Model.Product.ShippingPrice</p>
                            </div>
                        </div>
                        <div class="detail-info">
                            <div class="product-name">
                                <span>Fair pricing</span>
                            </div>
                            <div class="product-price">
                                <p>
                                    <span>
                                        $@Model.Product.SalePrice
                                    </span>
                                    MEJURI
                                </p>
                            </div>
                        </div>
                        <div class="detail-description">
                            <div class="description">
                                <div class="description-title">
                                    <h2>
                                        <span>
                                            description &amp;
                                            details
                                        </span>
                                    </h2>
                                </div>
                                <div class="description-body">
                                    <p>
                                        @Model.Product.Desc
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Review And Question-->
    <section id="review">
        <div class="review-up">
            <div class="container">
                <div class="row">
                    <div class="review-title">
                        <h1>Why people love us</h1>
                    </div>
                    <div class="review-up-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="review-up-left">
                                        <div class="review-star">
                                            <div class="stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="font-color-gray based-on">3106 Reviews</span>
                                        </div>
                                        <div class="questions">
                                            <a href="#">
                                                90
                                                Questions \ 90 Answers
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="review-up-right">
                                        <div class="review-up-right-star">
                                            <div class="right-star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>(2649)</span>
                                            </div>
                                            <div class="right-star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <span>(2649)</span>
                                            </div>
                                            <div class="right-star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <span>(2649)</span>
                                            </div>
                                            <div class="right-star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <span>(2649)</span>
                                            </div>
                                            <div class="right-star">
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <span>(2649)</span>
                                            </div>
                                        </div>
                                        <a class="button button-secondary ask">ASk Question</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-question">
                        <h2>ASK A QUESTION</h2>
                        <form action="">
                            <div class="form-group">
                                <div class="form-element">
                                    <label for="yotpo_input_question_content">
                                        <span>
                                            *
                                        </span>Question: <span class="form-input-error yotpo-hidden"></span>
                                    </label>
                                    <textarea id="yotpo_input_question_content" name="review_content"
                                              maxlength="1000" aria-required="true" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="user-nam-em">
                                <div class="form-group">
                                    <div class="form-element">
                                        <label for="yotpo_input_question_content">
                                            <span>
                                                *
                                            </span>Use your name:: <span class="form-input-error yotpo-hidden"></span>
                                        </label>
                                        <input type="text" id="yotpo_input_question_content">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-element">
                                        <label for="yotpo_input_question_content">
                                            <span>
                                                *
                                            </span>Email: <span class="form-input-error yotpo-hidden"></span>
                                        </label>
                                        <input type="email" id="yotpo_input_question_content">
                                    </div>
                                </div>
                            </div>
                            <div class="form-element submit-button">
                                <button type="submit" class="button button-secondary pp"> Post</button>
                            </div>
                        </form>
                    </div>
                    <div class="review-down-body">
                        <div class="container">
                            <div class="row">
                                <div class="review-items">
                                    <div class="review-item">
                                        <a class="tab-review active" data-target="review-text">
                                            <h2>
                                                <span>Reviews</span>
                                                <span>(3107)</span>
                                            </h2>
                                        </a>
                                    </div>
                                    <div class="review-item">
                                        <a class="tab-review" data-target="question">
                                            <h2>
                                                <span>Questions</span>
                                                <span>(90)</span>
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container reviewes">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="content-reviewes">
                                        <!--Review content-->
                                        <div class="content-review active" id="review-text">
                                            @foreach (var review in Model.Reviews.Where(x => x.Accept == true))
                                             {
                                                <div class="content-review-body">
                                                    <div class="name-date">
                                                        <span class="name">@review.AppUser.FullName</span>
                                                        <span class="date">@review.Date.ToString("MMMM dd yyyy")</span>
                                                    </div>
                                                    <div class="content-stars">
                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= Model.Product.Rate)
                                                            {
                                                                <i class="fas fa-star"></i>

                                                            }
                                                            else
                                                            {
                                                                <i class="fas fa-star"></i>

                                                            }
                                                        }
                                                    </div>
                                                    <p class="content-user-review">
                                                        @review.Text
                                                    </p>
                                                </div>
                                             }
                                        </div>
                                        <!--Question content-->
                                        <div class="content-review" id="question">
                                            <div class="content-question-body">
                                                <div class="question">
                                                    <div class="question-user-name-date">
                                                        <span class="question-user-name">Thuc T.</span>
                                                        <span class="question-user-date">10/15/21</span>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            Q:
                                                        </span>
                                                        Is there a trick or easier way to get them to unclasp and
                                                        clasp? I got them today and immediately tried to put them
                                                        on. It took over half an hour of struggling almost breaking
                                                        multiple short nails along the way. Now that’s on, I truly
                                                        do love it. Problem is, I can’t take it off.. how do I
                                                        unclasp this without ripping my ear piercing hole?
                                                    </p>
                                                </div>
                                                <div class="answer">
                                                    <div class="answer-admin-name-date">
                                                        <span class="answer-admin-name">Mejuri.</span>
                                                        <span class="answer-admin-date">10/15/21</span>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            A:
                                                        </span>
                                                        Hello Thuc, thanks for reaching out! Happy to provide some
                                                        insight on the Single Mini Hoop. While it's quite sturdy
                                                        when it first arrives, there is a quick tip on how to open
                                                        and close the clasp! Try pushing down the groove where the
                                                        clasp closes with your fingernail, the clasp should pop
                                                        right open and then simply click back into place. Feel free
                                                        to click on the following link for a how to video clip:
                                                        vimeo.com/374468221. Let us know if this works for you!
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="content-question-body">
                                                <div class="question">
                                                    <div class="question-user-name-date">
                                                        <span class="question-user-name">Thuc T.</span>
                                                        <span class="question-user-date">10/15/21</span>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            Q:
                                                        </span>
                                                        Is there a trick or easier way to get them to unclasp and
                                                        clasp? I got them today and immediately tried to put them
                                                        on. It took over half an hour of struggling almost breaking
                                                        multiple short nails along the way. Now that’s on, I truly
                                                        do love it. Problem is, I can’t take it off.. how do I
                                                        unclasp this without ripping my ear piercing hole?
                                                    </p>
                                                </div>
                                                <div class="answer">
                                                    <div class="answer-admin-name-date">
                                                        <span class="answer-admin-name">Mejuri.</span>
                                                        <span class="answer-admin-date">10/15/21</span>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            A:
                                                        </span>
                                                        Hello Thuc, thanks for reaching out! Happy to provide some
                                                        insight on the Single Mini Hoop. While it's quite sturdy
                                                        when it first arrives, there is a quick tip on how to open
                                                        and close the clasp! Try pushing down the groove where the
                                                        clasp closes with your fingernail, the clasp should pop
                                                        right open and then simply click back into place. Feel free
                                                        to click on the following link for a how to video clip:
                                                        vimeo.com/374468221. Let us know if this works for you!
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="content-question-body">
                                                <div class="question">
                                                    <div class="question-user-name-date">
                                                        <span class="question-user-name">Thuc T.</span>
                                                        <span class="question-user-date">10/15/21</span>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            Q:
                                                        </span>
                                                        Is there a trick or easier way to get them to unclasp and
                                                        clasp? I got them today and immediately tried to put them
                                                        on. It took over half an hour of struggling almost breaking
                                                        multiple short nails along the way. Now that’s on, I truly
                                                        do love it. Problem is, I can’t take it off.. how do I
                                                        unclasp this without ripping my ear piercing hole?
                                                    </p>
                                                </div>
                                                <div class="answer">
                                                    <div class="answer-admin-name-date">
                                                        <span class="answer-admin-name">Mejuri.</span>
                                                        <span class="answer-admin-date">10/15/21</span>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            A:
                                                        </span>
                                                        Hello Thuc, thanks for reaching out! Happy to provide some
                                                        insight on the Single Mini Hoop. While it's quite sturdy
                                                        when it first arrives, there is a quick tip on how to open
                                                        and close the clasp! Try pushing down the groove where the
                                                        clasp closes with your fingernail, the clasp should pop
                                                        right open and then simply click back into place. Feel free
                                                        to click on the following link for a how to video clip:
                                                        vimeo.com/374468221. Let us know if this works for you!
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="content-question-body">
                                                <div class="question">
                                                    <div class="question-user-name-date">
                                                        <span class="question-user-name">Thuc T.</span>
                                                        <span class="question-user-date">10/15/21</span>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            Q:
                                                        </span>
                                                        Is there a trick or easier way to get them to unclasp and
                                                        clasp? I got them today and immediately tried to put them
                                                        on. It took over half an hour of struggling almost breaking
                                                        multiple short nails along the way. Now that’s on, I truly
                                                        do love it. Problem is, I can’t take it off.. how do I
                                                        unclasp this without ripping my ear piercing hole?
                                                    </p>
                                                </div>
                                                <div class="answer">
                                                    <div class="answer-admin-name-date">
                                                        <span class="answer-admin-name">Mejuri.</span>
                                                        <span class="answer-admin-date">10/15/21</span>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            A:
                                                        </span>
                                                        Hello Thuc, thanks for reaching out! Happy to provide some
                                                        insight on the Single Mini Hoop. While it's quite sturdy
                                                        when it first arrives, there is a quick tip on how to open
                                                        and close the clasp! Try pushing down the groove where the
                                                        clasp closes with your fingernail, the clasp should pop
                                                        right open and then simply click back into place. Feel free
                                                        to click on the following link for a how to video clip:
                                                        vimeo.com/374468221. Let us know if this works for you!
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-review">
                        @if (!Model.Reviews.Any(x => x.ProductId == Model.Product.Id && x.AppUserId == member?.Id) && member != null)
                        {
                            <form asp-controller="shop" asp-action="review" asp-route-id="@Model.Product.Id" method="post">
                                <h4>Add a Review</h4>
                                <div class="row">
                                    <div class="add-a-review">
                                        <h6>Your Ratings:</h6>
                                        <div class="product-ratting">
                                            <ul class="rate-pr">
                                                <li><a href="#"><i class="fas fa-star rank"></i></a></li>
                                                <li><a href="#"><i class="fas fa-star rank"></i></a></li>
                                                <li><a href="#"><i class="fas fa-star rank"></i></a></li>
                                                <li><a href="#"><i class="fas fa-star rank"></i></a></li>
                                                <li><a href="#"><i class="fas fa-star rank"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="Review.Rate" class="rate" value="1" />
                                <input type="hidden" name="productId" value="@Model.Product.Id" />
                                <div class="input-item input-item-textarea ltn__custom-icon">
                                    <textarea placeholder="Type your comments...." asp-for="Review.Text"></textarea>
                                </div>
                                <div class="input-item input-item-name ltn__custom-icon">
                                    <input type="text" placeholder="Type your name...." asp-for="Review.Username"
                                           value="@(member!=null?member.UserName:"")">
                                </div>
                                <div class="input-item input-item-email ltn__custom-icon">
                                    <input type="email" placeholder="Type your email...." asp-for="Review.Email"
                                           value="@(member!=null?member.Email:"")">
                                </div>
                                <label class="save-info">
                                    <input type="checkbox" name="agree"> Save my name, email, and
                                    website in this browser for the next time I comment.
                                </label>
                                <div class="btn-wrapper">
                                    <button class="button button-primary
                                    " type="submit">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Regarding Product Category-->
    <section id="same-category">
        <div class="same-category-title">
            <h2>
                AS SEEN ON MEJURI
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="category-img">
                        <div class="img">
                            <a href="">
                                <img src="./assets/images/same-4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="category-img">
                        <div class="img">
                            <a href="">
                                <img src="./assets/images/same-2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="category-img">
                        <div class="img">
                            <a href="">
                                <img src="./assets/images/same-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="category-img">
                        <div class="img">
                            <a href="">
                                <img src="./assets/images/same-4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>