@model ShopViewModel
@{
    ViewData["Title"] = "Index";
}


    <main class="row">
        <div class="col-lg-2 left-side">
            <aside>
                <div class="sidebar">
                    <div class="container">
                        <div class="row">
                            <div class="sidebar-items">
                                <div class="sidebar-item">
                                    <ul>
                                        <li><a href="">New Arrivals</a></li>
                                        <li><a href="">Best Seller</a></li>
                                    </ul>
                                </div>
                                <div class="sidebar-item middle">
                                    <ul>
                                        <li><a href="">Shop All</a></li>
                                        <li><a href="">Earings</a></li>
                                        <li><a href="">Necklases</a></li>
                                        <li><a href="">Rings</a></li>
                                        <li><a href="">Mans</a></li>
                                        <li><a href="">Braclets</a></li>
                                        <li><a href="">Single Earings</a></li>
                                    </ul>
                                </div>
                                <div class="sidebar-item">
                                    <ul>
                                        <li><a href="">Leather</a></li>
                                        <li><a href="">Earings</a></li>
                                        <li><a href="">Necklases</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-10 col-md-12">
            <!--Dropdown-->
            <section id="dropdown">
                <div class="container">
                    <div class="row">
                        <div class="company-category">
                            <div class="company-category-head">
                                <h5>Shopes</h5>
                                <img src="./assets/images/arrow-down.svg" alt="">
                            </div>
                            <ul class="drop-menu" style="display: none;">
                                <li><a href="">New Arrivals</a></li>
                                <li><a href="">Best Seller</a></li>
                                <li><a href="">Shop All</a></li>
                                <li><a href="">Earings</a></li>
                                <li><a href="">Necklases</a></li>
                                <li><a href="">Rings</a></li>
                                <li><a href="">Mans</a></li>
                                <li><a href="">Braclets</a></li>
                                <li><a href="">Single Earings</a></li>
                                <li><a href="">Leather</a></li>
                                <li><a href="">Earings</a></li>
                                <li><a href="">Necklases</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--Info-->
            <section id="info">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="info">
                                <div class="info-img">
                                    <img src="./assets/images/shop-info.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Shop-Text-->
            <section id="shop-text">
                <div class="container">
                    <div class="row">
                        <div class="shop-texts">
                            <div class="description">
                                <h1>Shop it all</h1>
                            </div>
                            <div class="filters">
                                <div class="filter-item">
                                    <h3>Filters</h3>
                                    <i class="fas fa-plus filter-open"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="filter">
                <div class="container">
                    <div class="filter">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="filter-item">
                                        <h2>Category</h2>
                                        <div class="form-checkbox-column">
                                            <div class="form-checkbox-container">
                                                <label class="label-container">
                                                    Rings
                                                    <input type="checkbox" class="form-checkbox" id="Rings"
                                                           value="Rings">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-checkbox-container">
                                                <label for="Necklases" class="label-container">
                                                    NECKLASES
                                                    <input type="checkbox" class="form-checkbox" id="Necklases"
                                                           value="Necklases">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-checkbox-container">
                                                <label class="label-container" for="Braclets">
                                                    BRACLETS
                                                    <input type="checkbox" class="form-checkbox" id="Braclets"
                                                           value="Braclets">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-checkbox-container">
                                                <label class="label-container" for="Earings">
                                                    EARINGS
                                                    <input type="checkbox" class="form-checkbox" id="Earings"
                                                           value="Earings">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-checkbox-container">
                                                <label class="label-container" for="single-earings">
                                                    SINGLE EARINGS
                                                    <input type="checkbox" class="form-checkbox" id="single-earings"
                                                           value="single-earings">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="filter-item">
                                        <h2>Materials</h2>
                                        <div class="form-checkbox-column">
                                            <div class="form-checkbox-container">
                                                <label for="gold" class="label-container">
                                                    Gold
                                                    <input type="checkbox" class="form-checkbox" id="gold" value="gold">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-checkbox-container">
                                                <label for="silver" class="label-container">
                                                    Silver
                                                    <input type="checkbox" class="form-checkbox" id="silver"
                                                           value="silver">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-checkbox-container">
                                                <label class="label-container" for="diomands">
                                                    Diomands
                                                    <input type="checkbox" class="form-checkbox" id="diomands"
                                                           value="diomands">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-checkbox-container">
                                                <label class="label-container" for="pearls">
                                                    Pearls
                                                    <input type="checkbox" class="form-checkbox" id="pearls"
                                                           value="pearls">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="filter-item">
                                        <h2>Genders</h2>
                                        <div class="form-checkbox-column">
                                            <div class="form-checkbox-container">
                                                <label for="women" class="label-container">
                                                    Women
                                                    <input type="checkbox" class="form-checkbox" id="women"
                                                           value="women">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-checkbox-container">
                                                <label for="men" class="label-container">
                                                    Men
                                                    <input type="checkbox" class="form-checkbox" id="men" value="men">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="filter-item">
                                        <h2>Filter By Prices</h2>
                                        <div class="fillter">
                                            <section class="range-slider" id="facet-price-range-slider"
                                                     data-options='{"output":{"prefix":""},"maxSymbol":""}'>
                                                <input name="range-1" value="300" min="50" max="5000" step="1"
                                                       type="range">
                                                <input name="range-2" value="3500" min="50" max="5000" step="1"
                                                       type="range">
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 filter-end">
                                    <div class="filter-button">
                                        <p role="button">
                                            Clear all
                                        </p>
                                        <button class="button button-secondary">
                                            Apply <span>(1)</span> filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Favorites-->
            <section id="favory">
                <div class="favory-title">
                    <h2>Fine Favorites</h2>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        @for (int i = 0; i < Model.ProductColors.Count; i++)
                        {
                            <div class="col-md-4">
                                <div class="favory-item">
                                    <div class="card-image">
                                        <div class="img-product">
                                            <div class="content-colors" id="@Model.ProductColors[i].Id">
                                                @for (int j = 0; j < Model.ProductColors.Count; j++)
                                                {
                                                    <div class="content-color @(j==0?"active":"")" id="@Model.ProductColors[j].Color.Name">
                                                        <a href="./detail.html">
                                                            <img src="./assets/images/@Model.ProductColors[j].ProductColorImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" class="img-responsive">
                                                            <img src="./assets/images/@Model.ProductColors[j].ProductColorImages.FirstOrDefault(x=>x.PosterStatus==false)?.Image"
                                                                 class="img-responsive-hov">
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="hover-btns">
                                            <a class="single-btn add-basket">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html" class="single-btn">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="fav-info">
                                    <a href="">
                                        <h2 class="basket-head">@Model.ProductColors[i].Product.Name</h2>
                                    </a>
                                    <p class="basket-price">
                                        <span>$</span>
                                        @Model.ProductColors[i].Product.SalePrice
                                    </p>
                                </div>
                                <div class="fav-color">
                                    <div class="color-items" data-id="@Model.ProductColors[i].Id">
                                        @for (int d = 0; d < Model.ProductColors.Count; d++)
                                        {
                                            <div class="color-item">
                                                <a class="tab-color @(d==0?"active":"")" data-target="@Model.ProductColors[d].Color.Name">
                                                    <img src="./assets/images/color/@Model.ProductColors[d].Color.Image" alt="">
                                                </a>
                                            </div>

                                        }
                                    </div>
                                    <p>@Model.ProductColors[i].Color.Desc</p>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </section>
            </div>
    </main>
