@model PagenatedList<Product>
@{
    ViewData["Title"] = "Index";
    int order = (Model.PageIndex - 1) * 4;
}
<div class="content-wrapper" style="min-height: 1604.71px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Projects</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-head">
                <h4>Products List</h4>
                <a asp-action="create">Add Product</a>
            </div>

            <table class="table table-striped projects" style="position:relative;">
                <tbody>
                    <tr class="nem">
                        <th>#</th>
                        <th>Images</th>
                        <th>Name</th>
                        <th>Sale Price</th>
                        <th>Category</th>
                        <th>IsStock</th>
                        <th>Setting</th>
                    </tr>
                    @foreach (var product in Model)
                    {
                        order++;
                        <tr class="table-img">
                            <td>@order</td>
                            <td class="product-imgs"><i style="font-size: 2rem; color: #B4876E; cursor: pointer; " class="far fa-images"></i></td>
                            <td>@product.Name</td>
                            <td>@product.SalePrice</td>
                            <td>@product.Category.Name</td>
                            <td>@product.IsStock</td>
                            <td>
                                <a asp-action="edit" asp-route-id="@product.Id" class="pd-setting-ed" style="background:orange;"><i class="fas fa-edit"></i></a>
                                <a asp-action="deletefetch" asp-route-id="@product.Id" style="background:brown;" data-toggle="tooltip" title="" class="pd-setting-ed btn-item-delete" data-original-title="Trash"><i class="fas fa-trash-alt "></i></a>
                                @if (product.Reviews != null)
                                {
                                    @foreach (var item in product.Reviews)
                                    {
                                        <a asp-controller="review" asp-action="index" asp-route-id="@item.ProductId" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments"></i>
                                        </a>
                                    }
                                }
                                @if (product.Questions != null)
                                {
                                    @foreach (var item in product.Questions)
                                    {
                                        <a asp-controller="question" asp-action="index" asp-route-id="@item.ProductId" class="btn btn-info">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                        if (product.ProductColors.Count() != 0)
                        {
                            int productColorCounter = 0;
                            <tr class="fold">
                                <td colspan="7">
                                    <div class="fold-content">
                                        <table style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Image</th>
                                                    <th>Color</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ProductColor productColor in product.ProductColors)
                                                {
                                                    productColorCounter++;
                                                    <tr>
                                                        <td>@productColorCounter</td>
                                                        <td>
                                                            @if (productColor.ProductColorImages.Count() > 0)
                                                            {
                                                                <img width="50" src="~/uploads/product/@productColor.ProductColorImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" />
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-dark" asp-action="addimage" asp-route-productId="@product.Id" asp-route-colorId="@productColor.Color.Id">
                                                                    <i class="fas fa-plus"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                        <td>@productColor.Color.Name</td>
                                                        <td>
                                                            <a asp-action="addimage" asp-route-productId="@product.Id" asp-route-colorId="@productColor.Color.Id" class="pd-setting-ed" style="background:orange;"><i class="fas fa-edit"></i></a>
                                                            <a asp-action="deletecolorfetch" asp-route-productId="@product.Id" asp-route-colorId="@productColor.Color.Id"  style="background:brown;" data-toggle="tooltip" title="" class="pd-setting-ed btn-item-delete" data-original-title="Trash"><i class="fas fa-trash-alt "></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <div class="card-tools">
                    <ul class="pagination pagination-sm">
                        <li class="page-item @(Model.HasPrev?"":"disabled")">
                            <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)" aria-label="Previous">
                                «
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i==Model.PageIndex?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                        }
                        <li class="page-item @(Model.HasNext?"":"disabled")">
                            <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)" aria-label="Next">
                                »
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
@section Scripts{
    <script>
        $(function () {
            $(".table-img").on("click", function () {
                $(this).toggleClass("open").next(".fold").toggleClass("open");
            });
        });
    </script>
}
