@model List<Product>
@{
    ViewData["Title"] = "Index";
    int order = (ViewBag.SelectedPage - 1) * 4;
    int selectedPage = ViewBag.SelectedPage;
    decimal totalPage = ViewBag.TotalPage;
}
<div class="content-wrapper" style="min-height: 1604.71px;">
    <!-- Content Header (Page header) -->
    <section class="content-header" style="padding-top:2rem">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-2">
                    <h1>Projects</h1>
                </div>
                <div class="col-md-8 offset-md-2">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control form-control-lg" placeholder="Type your keywords here">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-head">
                <h4>Products List</h4>
                <a asp-action="create">Add Product</a>
            </div>

            <table class="table table-striped projects" style="position:relative;">
                <tbody>
                    <tr class="nem">
                        <th>#</th>
                        <th>Images</th>
                        <th>Name</th>
                        <th>Sale Price</th>
                        <th>Category</th>
                        <th>Setting</th>
                        <th>Review and Question</th>
                    </tr>
                    @foreach (var product in Model)
                    {
                        order++;
                <tr class="table-img">
                    <td>@order</td>
                    <td class="product-imgs"><i style="font-size: 2rem; color: #B4876E; cursor: pointer; " class="far fa-images"></i></td>
                    <td>@product.Name</td>
                    <td>@product.SalePrice</td>
                    <td>@product.Category.Name</td>
                    <td>
                        <a asp-action="edit" asp-route-id="@product.Id" class="pd-setting-ed" style="background:orange;"><i class="fas fa-edit"></i></a>
                        <a asp-action="deletefetch" asp-route-id="@product.Id" style="background:brown;" data-toggle="tooltip" title="" class="pd-setting-ed btn-item-delete" data-original-title="Trash"><i class="fas fa-trash-alt "></i></a>
                    </td>
                    <td>
                        @if (product.Reviews != null)
                        {
                            <a asp-action="review" asp-route-id="@product.Id" class="btn btn-sm bg-teal" style=" padding: 6px 10px;">
                                <i class="fas fa-comments"></i>
                            </a>
                        }
                        @if (product.Questions != null)
                        {
                            <a asp-action="question" asp-route-id="@product.Id" class="btn btn-info" style="padding: 4px 8px;">
                                <i class="fas fa-eye"></i>
                            </a>
                        }
                    </td>
                </tr>
                        if (product.ProductColors.Count() != 0)
                        {
                            int productColorCounter = 0;
                            <tr class="fold">
                                <td colspan="7">
                                    <div class="fold-content">
                                        <table style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Image</th>
                                                    <th>Color</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ProductColor productColor in product.ProductColors)
                                                {
                                                    productColorCounter++;
                                                    <tr>
                                                        <td>@productColorCounter</td>
                                                        <td>
                                                            @if (productColor.ProductColorImages.Count() > 0)
                                                            {
                                                                <img width="50" src="~/uploads/product/@productColor.ProductColorImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" />
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-dark" asp-action="addimage" asp-route-productId="@product.Id" asp-route-colorId="@productColor.Color.Id">
                                                                    <i class="fas fa-plus"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                        <td>@productColor.Color.Name</td>
                                                        <td>
                                                            <a asp-action="addimage" asp-route-productId="@product.Id" asp-route-colorId="@productColor.Color.Id" class="pd-setting-ed" style="background:orange;"><i class="fas fa-edit"></i></a>
                                                            <a asp-action="deletecolorfetch" asp-route-productId="@product.Id" asp-route-colorId="@productColor.Color.Id" style="background:brown;" data-toggle="tooltip" title="" class="pd-setting-ed btn-item-delete" data-original-title="Trash"><i class="fas fa-trash-alt "></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
            <div class="d-flex justify-content-center" style="margin-top:3rem;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination align-items-center">
                        @if (selectedPage > 1)
                        {
                            <li class="page-item ">
                                <a class="page-link-custom" asp-action="index" asp-route-page="@(selectedPage - 1)" aria-label="Previous">
                                    <span style="outline: none; background: none; font-size: 30px; color: black;margin-right:8px; " aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }
                        @{
                            int startPage = (selectedPage == 1 || totalPage <= 3) ? 1 : selectedPage < totalPage ? selectedPage - 1 : selectedPage - 2;
                            int endPage = totalPage > 2 ? startPage + 2 : (int)totalPage;
                        }

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            <li style="width: 40px; height: 40px; background-color: #4f5962; border-radius: 50%; margin-right: 5px; display: flex; align-items: center; justify-content: center; " class="@(i==selectedPage?"active":"")"><a asp-action="index" asp-route-page="@i" asp-route-search="@ViewBag.CurrentSearch " class="page-item" style="color:white;font-size:18px;">@i</a></li>
                        }
                        @if (selectedPage < totalPage)
                        {
                            <li class="page-item-custom">
                                <a class="page-link-custom" asp-action="index" asp-route-page="@(selectedPage+1)" aria-label="Next">
                                    <span style="outline: none; background: none; font-size: 30px; color: black; margin-left:3px; " aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }


                    </ul>
                </nav>
            </div>

        </div>

        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
@section Scripts{
    <script>
        $(function () {
            $(".table-img").on("click", function () {
                $(this).toggleClass("open").next(".fold").toggleClass("open");
            });
        });
    </script>
}
