@model List<Contact>
@inject LayoutService service
@{
    ViewData["Title"] = "Index";
    Setting setting = service.GetSetting();
}

<main>
    <section id="contact">
        <div class="contact-info">
            <img src="~/uploads/setting/@setting.ContactImg"  alt="">
            <h1>@setting.ContactTitle</h1>
        </div>
        <div class="contact-body">
            <div class="contact-body-info">
                <div class="container">
                    <p>
                        @setting.ContactSubtitle1
                    </p>
                    <h5>
                        @setting.ContactSubtitle2

                    </h5>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="contact-content">
                                <i class="@item.Icon"></i>
                                <h5>@item.Title</h5>
                                <p data-isolate="true">@item.SubTitle.</p>
                                <a href="@item.RedirectUrl">
                                    <span>@item.RedirectUrlText</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>
