
@model HomeViewModel
@inject LayoutService service
@{
    Setting setting = service.GetSetting();
    ViewData["Title"] = "Mejuri | Everyday Fine Jewelry | Online Jewelry Shop";
}
<main>

    <input value="@Model.Companies.OrderBy(x=>x.EndTime).Where(x=>x.EndTime>=DateTime.Now).FirstOrDefault().EndTime"
           type="hidden" id="datetime" />

    <!--Info-->
    <section id="info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="info">
                        <div class="info-img">
                            <img src="~/uploads/setting//@setting.HomePageImg" alt="">
                        </div>
                        <div class="info-text text-center">
                            <p>@setting.HomePageInfo</p>
                            <a class="button button-primary" asp-controller="shop" asp-action="index">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Category-->
    <section id="category">
        <div class="container">
            <div class="row">
                <div class="category-info">
                    <h2>Shop By Category</h2>
                    <a href="">Shop All</a>
                </div>
                <div class="category-item slider">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-md-4 col-sm-6">
                            <a href="">
                                <img src="~/uploads/category/@category.Image" alt="">
                            </a>
                            <a href="">
                                <p>@category.Name</p>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!--Company-->
    <section id="company">
        <div class="container">
            <div class="row">
                <div class="company-info">
                    <h2>Company Shop</h2>
                </div>
            </div>
            <div class="company-item" style="flex-wrap:wrap;">
                @foreach (var item in Model.CompanyCategories)
                {
                    <div class="col-md-3 col-sm-6">
                        <a href="">
                            <img src="~/uploads/companycategory/@item.Image" alt="">
                        </a>
                        <a href="">
                            <h3>@item.Name</h3>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--Style Edit-->
    <section id="edit">
        <div class="container">
            <div class="row">
                <hr>
                <div class="edit-info">
                    <h2>Company Shop</h2>
                    <div class="coming-soon">
                        <div class="countdown">
                            <div class="container-day time">
                                <h3 class="day">Time</h3>
                                <h3>Day</h3>
                            </div>
                            <div class="container-hour time">
                                <h3 class="hour">Time</h3>
                                <h3>Hour</h3>
                            </div>
                            <div class="container-minute time">
                                <h3 class="minute">Time</h3>
                                <h3>Minute</h3>
                            </div>
                            <div class="container-second time">
                                <h3 class="second">Time</h3>
                                <h3>Second</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-item company-slider">
                    @foreach (var item in Model.Companies.OrderBy(x => x.EndTime).Where(x => x.EndTime >= DateTime.Now).ToList())
                    {
                        <section id="favory" style="width:100% !important">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 company-slider-item">
                                        <div class="favory-item" id="@item.Id">
                                            @for (int j = 0; j < item.Product.ProductColors.Count; j++)
                                            {
                                                <div class="card-image @(j==0?"active":"")" id="@item.Product.ProductColors[j].Color.Name">
                                                    <div class="img-product">
                                                        <div class="content-colors">
                                                            <div class="content-color">
                                                                <a asp-action="detail" asp-controller="product" asp-route-id="@item.Product.Id">
                                                                    <img src="~/uploads/product/@item.Product.ProductColors[j].ProductColorImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" class="img-responsive">
                                                                    <img src="~/uploads/product/@item.Product.ProductColors[j].ProductColorImages.FirstOrDefault(x=>x.PosterStatus==false)?.Image"
                                                                         class="img-responsive-hov">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="fav-info">
                                            <a href="">
                                                <h2 class="basket-head">@item.Title</h2>
                                            </a>
                                        </div>
                                        <div class="fav-color">
                                            <div class="color-items" data-id="@item.Id" style="display: flex; flex-direction: row; align-items: center;">
                                                @for (int j = 0; j < item.Product.ProductColors.Count; j++)
                                                {
                                                    <div class="color-item">
                                                        <a class="tab-color @(j==0?"active":"")"
                                                           data-target="@item.Product.ProductColors[j].Color.Name">
                                                            <img src="~/uploads/color/@item.Product.ProductColors[j].Color.Image" alt="" style="margin: 5px 5px 0 0; display: inline-block; padding: 3px; cursor: pointer; border-radius: 50px; border-width: 1px; border-style: solid; line-height: 1; border-width: 1px; height: 22px; width: 22px; border-color: #c1c1c1;">
                                                        </a>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    }
                </div>
            </div>
        </div>
    </section>
    <!--New-->
    <section id="new">
        <div class="container">
            <div class="row">
                <div class="new-items single-items">
                    @foreach (var slider in Model.Sliders)
                    {
                        <div class="col-md-12">
                            <div class="new-item">
                                <img src="~/uploads/slider/@slider.Image" style="width: 1125px; height:604px;" alt="">
                                <div class="new-info">
                                    <h4>@slider.SubTitle</h4>
                                    <p>@slider.Title</p>
                                    <a class="button button-primary" asp-action="index" asp-controller="shop">Shop New</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!--Location-->
    <section id="location">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 location-left">
                    <div class="location-info">
                        <h3>@setting.LocationTitle</h3>
                        <p>@setting.LocationSubTitle</p>
                        <a class="button button-secondary" asp-controller="shop" asp-action="index">Shop New</a>
                    </div>
                </div>
                <div class="col-md-6 location-right">
                    <img src="~/uploads/setting/@setting.LocationImg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--Brand-->
    <section id="new">
        <div class="container">
            <div class="row">
                <div class="new-items single-items">
                    @for (int k = 0; k < Model.Brands.Count; k++)
                    {
                        <div class="content-brand">
                            <p class="text-brand">
                                <q>
                                    @Model.Brands[k].Text
                                </q>
                            </p>
                            <a class="tab-brand">
                                <img src="~/uploads/brand/@Model.Brands[k].Image">
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</main>
