
@model HomeViewModel

@{
    ViewData["Title"] = "Mejuri | Everyday Fine Jewelry | Online Jewelry Shop";
}
<main>

    <input value="@Model.Companies.OrderBy(x=>x.EndTime).Where(x=>x.EndTime>=DateTime.Now).FirstOrDefault().EndTime"
           type="hidden" id="datetime"/>

    <!--Info-->
    <section id="info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="info">
                        <div class="info-img">
                            <img src="~/assets/images/header.jfif" alt="">
                        </div>
                        <div class="info-text text-center">
                            <p>THE HOLIDAY GIFT SHOP</p>
                            <a class="button button-primary" href="">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Category-->
    <section id="category">
        <div class="container">
            <div class="row">
                <div class="category-info">
                    <h2>Shop By Category</h2>
                    <a href="">Shop All</a>
                </div>
                <div class="category-item slider">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-md-4 col-sm-6">
                            <a href="">
                                <img src="~/uploads/category/@category.Image" alt="">
                            </a>
                            <a href="">
                                <p>@category.Name</p>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!--Company-->
    <section id="company">
        <div class="container">
            <div class="row">
                <div class="company-info">
                    <h2>Company Shop</h2>
                </div>
            </div>
            <div class="company-item" style="flex-wrap:wrap;">
                @foreach (var item in Model.CompanyCategories)
                {
                    <div class="col-md-3 col-sm-6">
                        <a href="">
                            <img src="~/uploads/companycategory/@item.Image" alt="">
                        </a>
                        <a href="">
                            <h3>@item.Name</h3>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--Style Edit-->
    <section id="edit">
        <div class="container">
            <div class="row">
                <hr>
                <div class="edit-info">
                    <h2>Company Shop</h2>
                    <div class="coming-soon">
                        <div class="countdown">
                            <div class="container-day time">
                                <h3 class="day">Time</h3>
                                <h3>Day</h3>
                            </div>
                            <div class="container-hour time">
                                <h3 class="hour">Time</h3>
                                <h3>Hour</h3>
                            </div>
                            <div class="container-minute time">
                                <h3 class="minute">Time</h3>
                                <h3>Minute</h3>
                            </div>
                            <div class="container-second time">
                                <h3 class="second">Time</h3>
                                <h3>Second</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-item company-slider">
                    @foreach (var company in Model.Companies)
                    {
                        <div class="col-md-3 company-slider-item">
                            <a href="">
                                <div class="img-product">
                                    @foreach (var item in company.Product.ProductColors)
                                    {
                                        <a href="./detail.html">
                                            <img src="~/uploads/product/@item.ProductColorImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" class="img-responsive">
                                            <img src="~/uploads/product/@item.ProductColorImages.FirstOrDefault(x=>x.PosterStatus==false)?.Image" class="img-responsive-hov">
                                        </a>
                                    }
                                </div>
                                <a href="">
                                    <p>@company.Title</p>
                                </a>
                            </a>
                            @*<div class="hover-btns">
                                <a asp-action="addtobasket" asp-controller="product" asp-route-id="@company.Product.Id" data-id="@company.Product.Id" class="single-btn add-basket">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                                <a href="wishlist.html" class="single-btn">
                                    <i class="far fa-heart"></i>
                                </a>
                            </div>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!--New-->
    <section id="new">
        <div class="container">
            <div class="row">
                <div class="new-items single-items">
                    @foreach (var slider in Model.Sliders)
                    {
                        <div class="col-md-12">
                            <div class="new-item">
                                <img src="~/uploads/slider/@slider.Image" style="width: 1125px; height:604px;" alt="">
                                <div class="new-info">
                                    <h4>@slider.SubTitle</h4>
                                    <p>@slider.Title</p>
                                    <a class="button button-primary" href="">Shop New</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!--Location-->
    <section id="location">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 location-left">
                    <div class="location-info">
                        <h3>Come Say Hi</h3>
                        <p>Shop our entire lineup of fine faves in store, get styled and join the Fine Crew.</p>
                        <a class="button button-secondary" href="">Shop New</a>
                    </div>
                </div>
                <div class="col-md-6 location-right">
                    <img src="~/assets/images/location.jfif" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--Brand-->
    <section id="brand">
        <div class="container brands">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="content-brands">
                        @for (int i = 0; i < Model.Brands.Count; i++)
                        {
                            <div class="content-brand @(i==0?"active":"")" active" id="@Model.Brands[i].Id">
                                <p class="text-brand">
                                    <q>
                                        @Model.Brands[i].Text
                                    </q>
                                </p>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="brand-items">
                    @for (int i = 0; i < Model.Brands.Count; i++)
                    {
                        <div class="brand-item">
                            <a class="tab-brand @(i==0?"active":"")" data-target="@Model.Brands[i].Id">
                                <img src="~/assets/images/@Model.Brands[i].Image">
                            </a>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
</main>